*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5% // = 10 PX (100% = 16 PX)
  // Respond sizing
  +respond(tab-land)
    font-size: 56.25%
  +respond(tab-port)
    font-size: 50%
  +respond(phone)
    font-size: 50%
  +respond(big-desktop)
    font-size: 75%