@font-face
  font-family: "San Francisco Pro"
  src: url('./vendors/fonts/SFProDisplay/SFProDisplay-Bold.woff') format('woff')
  font-weight: 700
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-007A

@font-face
  font-family: "San Francisco Pro"
  src: url('./vendors/fonts/SFProDisplay/SFProDisplay-Semibold.woff') format('woff')
  font-weight: 600
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-007A

@font-face
  font-family: "San Francisco Pro"
  src: url('./vendors/fonts/SFProDisplay/SFProDisplay-Regular.woff') format('woff')
  font-weight: 400
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-007A