.header-primary // Example 
  color: #fff
  text-transform: uppercase
  margin-bottom: 6rem
  backface-visibility: hidden 
  &--main, &--sub
    display: block
  &--main
    font-size: 6rem
    font-weight: 400
    letter-spacing: 3.5rem
    animation-name: moveInLeft
    animation-duration: 1s
    animation-timing-function: ease-out

    +respond(phone)
      font-size: 5rem
      letter-spacing: 1rem
  &--sub
    font-size: 2rem
    font-weight: 900
    letter-spacing: 1.74rem
    animation: moveInRight 1s ease-out

    +respond(phone)
      letter-spacing: .5rem