=clearfix()
  &::after
    content: ""
    display: table
    clear: both

=respond($breakpoint)
  @if $breakpoint == phone
    @media (max-width: 37.5em)
      @content
  @if $breakpoint == tab-port
    @media (max-width: 56.25em)
      @content
  @if $breakpoint == tab-land
    @media (max-width: 75em)
      @content
  @if $breakpoint == big-desktop
    @media (min-width: 112.5em)
      @content

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px) (IN VARIABLES)